.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
*.launch
*.pydevproject
.buildpath
.project
*.DS_Store
.idea/
dump.rdb
nohup.out

application/config/development/
application/config/testing/
application/config/production/
application/logs/
application/cache/
